@import "../../assets/scss/mixin";

footer {
  position: relative;
  color: #000;
}
.footer_area {
  position: relative;
  width: 100%;
  padding: get_vw_sp(38) 0 get_vw_sp(38);
  background-color: #fff;

  @include mq(md) {
    padding: 40px 0;
  }
}
.footer_inner {
  width: 87%;
  margin: auto;

  @include mq(md) {
    width: get_vw(705);
  }
}
.footer_snsTitle {
  text-align: center;
  font-size: 16px;
  color: #333;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 500;
}
.footer_snsList {
  display: flex;
  justify-content: center;
  margin-top: get_vw_sp(20);
  @include mq(md) {
    margin-top: 20px;
  }
}
.footer_snsItem {
  & + & {
    margin-left: get_vw_sp(22);
    @include mq(md) {
      margin-left: 22px;
    }
  }
}
.footer_copyright {
  @include fz_vw_sp(12);
  color: #333;
  text-align: center;
  margin-top: get_vw_sp(26);
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 12px;
    margin-top: 25px;
  }
}
