@import "../../assets/scss/mixin";

.footer_area {
  position: relative;
  width: 100%;
  padding: get_vw_sp(28) 0 get_vw_sp(38);
  background-color: #112b3a;

  @include mq(md) {
    padding: get_vw(28) 0;
  }
}
.bnr_list {
  display: flex;
  justify-content: center;
  margin-top: get_vw(35);
  flex-wrap: wrap;

  @include mq(md) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.bnr_item {
  width: 30%;
  margin-right: get_vw_sp(30);
  margin-bottom: get_vw_sp(15);

  @include mq(md) {
    margin-right: 0;
  }
}
.bnr_item:nth-child(2n) {
  margin-right: 0;
}
.bnr_item:hover {
  background-color: #000;
  opacity: 0.8;
}
.bnr_list {
  margin-top: get_vw_sp(20);

  @include mq(md) {
    margin-top: get_vw(50);
  }
}
.bnr_item:nth-child(1) {
  width: get_vw_sp(173);

  @include mq(md) {
    width: get_vw(259);
  }
}
.bnr_item:nth-child(2) {
  width: get_vw_sp(120);

  @include mq(md) {
    width: get_vw(176);
  }
}
.bnr_item:nth-child(3) {
  width: get_vw_sp(65);

  @include mq(md) {
    width: get_vw(90);
  }
}
.bnr_item:nth-child(4) {
  width: get_vw_sp(65);

  @include mq(md) {
    width: get_vw(90);
  }
}
.footer_inner {
  width: 87%;
  margin: auto;

  @include mq(md) {
    width: get_vw(705);
  }
}
.footer_bg {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.footer_bg_sp {
  width: get_vw_sp(235);
  margin: auto;

  @include mq(md) {
    display: none;
  }
}
