@import "../../assets/scss/mixin";

.logo__wrapper {
  display: flex;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_area {
  margin-top: get_vw(4);
}
header {
  height: get_vw_sp(54);;
}