@import "../../assets/scss/mixin";

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo__wrapper {
  display: flex;
  z-index: 2;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_area {
  margin-top: get_vw(4);
}
header {
  height: get_vw_sp(54);

  @include mq(md) {
    height: auto;
  }
}
