@import "../../assets/scss/mixin";

.contents_wrapper {
  position: relative;
  background-image: url("/top/bg_dolphin_top_sp.webp");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto get_vw_sp(-25);
  padding: get_vw_sp(35) 0 get_vw_sp(145);
  width: 100vw;

  @include mq(md) {
    background-image: url("/top/bg_dolphin_top.webp");
    padding: 0;
    margin: get_vw(-40) auto get_vw(-25);
  }
}
.contents_wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("/top/bg_blue_top.png");
  background-size: contain;
  background-repeat: repeat;
  width: 100vw;
  z-index: -1;

  @include mq(md) {
    top: get_vw(42);
    background-position-y: get_vw(250);
  }
}
.bubble_wrapper {
  position: absolute;
  width: 86%;
  top: get_vw(350);
  left: get_vw(95);
}
.hidden {
  @include mq(sp-only) {
    display: none;
  }
}
