@import "../../assets/scss/mixin";

.localNav {
  position: relative;
  width: 93%;
  margin: auto;

  @include mq(md) {
    width: get_vw(265);
  }
}
.LocalNav_area {
  background-color: rgba($color: #112b3a, $alpha: 0.75);
  padding: 0 get_vw_sp(17) get_vw_sp(30);
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;

  @include mq(md) {
    padding: 0 get_vw(18);
  }
}
.LocalNav_area[aria-expanded="false"] {
  @include mq(sp-only) {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    padding-bottom: get_vw_sp(8);
  }
}
.LocalNav_list {
  @include fz_vw_sp(14);
  font-weight: bold;
  line-height: 2;
  margin: 0 auto;

  @include mq(md) {
    @include fz_vw(12);
    font-weight: normal;
  }
}
.LocalNav_list a {
  color: #fff;
}

.LocalNav_item {
  @include fz_vw_sp(14);
  list-style: decimal;
  list-style-position: inside;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: get_vw_sp(15) 0 get_vw_sp(15) 1em;
  font-weight: bold;
  text-indent: -1em;

  @include mq(md) {
    @include fz_vw(14);
    padding: get_vw(14) 0 get_vw(14) 1em;
  }

  & a {
    margin-left: get_vw_sp(-2);

    @include mq(md) {
      margin-left: get_vw(-2);
    }
  }
}
.LocalNav_item:last-child {
  position: relative;
  text-align: center;
  list-style: none;
  @include mq(md) {
    border-bottom: none;
    padding: get_vw(15) 0 get_vw(12);
  }
}
.LocalNav_item:last-child::after {
  position: absolute;
  top: get_vw_sp(26);
  right: get_vw_sp(50);
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: get_vw_sp(5);
  height: get_vw_sp(5);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;

  @include mq(md) {
    top: get_vw(26);
    right: get_vw(24);
    width: get_vw(5);
    height: get_vw(5);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}
.current a {
  color: #43dbf2;
}

.LocalNav_item a:hover {
  color: #43dbf2 !important;
}

.localNav_top {
  position: relative;
}
.localNav_top_text {
  position: absolute;
  top: get_vw_sp(22);
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  @include fz_vw_sp(14);
  font-weight: bold;
  color: #000;

  @include mq(md) {
    top: get_vw(16);
    @include fz_vw(14);
  }
}
.LocalNav_list_02 {
  list-style: inside;
  margin-left: get_vw_sp(9);
  font-weight: bold;

  @include mq(md) {
    margin-left: get_vw(9);
  }

  & a {
    margin-left: get_vw_sp(-7);

    @include mq(md) {
      margin-left: get_vw(-7);
    }
  }
}
.LocalNav_list_02 li {
  @include fz_vw_sp(12);
  margin-top: get_vw_sp(3);

  @include mq(md) {
    @include fz_vw(12);
    margin-top: get_vw(3);
  }
}
.btn_openClose {
  cursor: pointer;

  @include mq(md) {
    display: none;
  }
}
.btn_openClose p {
  font-family: "DIN Condensed", "Oswald", sans-serif;
  @include fz_vw_sp(18);
  text-align: center;
  margin-top: get_vw_sp(13);
  line-height: 1;
}
.btn_openClose {
  position: absolute;
  bottom: get_vw_sp(15);
  left: 0;
  right: 0;
}
.btn_openClose[aria-expanded="false"] {
  @include mq(sp-only) {
    bottom: get_vw_sp(12);
    left: get_vw_sp(147);
  }
}

.LocalNav_list .current {
  color: #43dbf2;

  & .LocalNav_list_02 {
    color: #fff;

    & a {
      color: #fff;
    }
  }
}

.top_img_wrapper {
  width: 100%;
}
.top_img_wrapper img {
  width: 100%;
}
.localNav_bottom {
  width: 100%;
}
.localNav_bottom img {
  width: 100%;
}
