@import "../../assets/scss/mixin";

.localNav {
  position: relative;
  width: 93%;
  margin: auto;

  @include mq(md) {
    width: 268px;
  }
}
.LocalNav_area {
  background-color: rgba($color: #112b3a, $alpha: 0.75);
  padding: 0 get_vw_sp(17) get_vw_sp(30);
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;

  @include mq(md) {
    padding: 0 18px;
  }
}
.LocalNav_area[aria-expanded="false"] {
  @include mq(sp-only) {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    padding-bottom: get_vw_sp(8);
  }
}
.LocalNav_list {
  @include fz_vw_sp(14);
  font-weight: bold;
  line-height: 2;
  margin: 0 auto;

  @include mq(md) {
    font-size: 12px;
    font-weight: normal;
  }
}
.LocalNav_list a {
  color: #fff;
}

.LocalNav_item {
  text-align: center;
  @include fz_vw_sp(14);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: get_vw_sp(15) 0;
  font-weight: bold;

  @include mq(md) {
    font-size: 14px;
    padding: 14px 0;
  }
}
.LocalNav_item:last-child {
  position: relative;
  text-align: center;
  list-style: none;
  @include mq(md) {
    border-bottom: none;
    padding: 15px 0 12px;
  }
}

.current a {
  color: #43dbf2;
}

.LocalNav_item a:hover {
  color: #43dbf2;
}
.localNav_top {
  position: relative;
}
.localNav_top_text {
  position: absolute;
  top: get_vw_sp(22);
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  @include fz_vw_sp(14);
  font-weight: bold;

  @include mq(md) {
    top: 16px;
    font-size: 14px;
  }
}
.btn_openClose {
  cursor: pointer;

  @include mq(md) {
    display: none;
  }
}
.btn_openClose p {
  font-family: DIN Condensed;
  @include fz_vw_sp(18);
  text-align: center;
  margin-top: get_vw_sp(13);
  line-height: 1;
}
.btn_openClose {
  position: absolute;
  bottom: get_vw_sp(15);
  left: 0;
  right: 0;
}
.btn_openClose[aria-expanded="false"] {
  @include mq(sp-only) {
    bottom: get_vw_sp(12);
    left: get_vw_sp(147);
  }
}

.LocalNav_item.current {
  color: #43dbf2;
}

.top_img_wrapper {
  width: 100%;
}
.top_img_wrapper img {
  width: 100%;
}
.localNav_bottom {
  width: 100%;
}
.localNav_bottom img {
  width: 100%;
}
.disabled a {
  color: rgba($color: #fff, $alpha: 0.3);
}
