@import "../../assets/scss/mixin";

.localNav {
  position: relative;
  margin: auto;
  width: get_vw(265);
}
.localNav_area {
  background-color: rgba($color: #112b3a, $alpha: 0.75);
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  padding: 0 get_vw(18) get_vw(18);
}
.localNav_list {
  font-weight: bold;
  line-height: 2;
  margin: 0 auto;
  @include fz_vw(12);
  font-weight: normal;
}
.localNav_list a {
  color: #fff;
}

.localNav_item {
  list-style-position: inside;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  @include fz_vw(14);
  padding: get_vw(14) 0 get_vw(14);

  & a {
    margin-left: get_vw(-2);
  }
}
.localNav_item:first-child {
  padding-top: 0;
}
.current a {
  color: #43dbf2;
}

.localNav_item a:hover {
  color: #43dbf2;
}

.localNav_item.current {
  color: #43dbf2;
}

.top_img_wrapper {
  width: 100%;
}
.top_img_wrapper img {
  width: 100%;
}
.localNav_bottom {
  width: 100%;
}
.localNav_bottom img {
  width: 100%;
}
.date {
  @include fz_vw(12);
  font-weight: bold;
  color: rgba($color: #fff, $alpha: 0.5);
}
.localNav_top {
  width: 100%;
  height: auto;

  & img {
    vertical-align: bottom;
  }
}
