@import "../../assets/scss/mixin";

.localNav {
  position: relative;
  margin: auto;
  width: 87%;

  @include mq(md) {
    width: 400px;
  }

  @include mq(lg-sub) {
    width: 268px;
    margin: 0;
  }
}
.LocalNav_area {
  background-color: rgba($color: #112b3a, $alpha: 0.75);
  padding: 0 get_vw_sp(18) get_vw_sp(30);
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;

  @include mq(md) {
    padding: 0 17px 30px;
  }

  @include mq(lg-sub) {
    padding: 0 18px;
  }
}
.LocalNav_area[aria-expanded="false"] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  padding-bottom: 8px;

  @include mq(lg-sub) {
    max-height: none;
    padding-bottom: 0;
  }
}
.LocalNav_list {
  @include fz_vw_sp(14);
  font-weight: bold;
  line-height: 2;
  margin: 0 auto;

  @include mq(lg-sub) {
    font-size: 12px;
    font-weight: normal;
  }
}
.LocalNav_list a {
  color: #fff;
}

.LocalNav_item {
  position: relative;
  text-align: center;
  @include fz_vw_sp(14);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: get_vw_sp(15) 0;
  font-weight: bold;

  @include mq(md) {
    font-size: 16px;
    padding: 15px 0;
  }

  @include mq(lg-sub) {
    font-size: 14px;
    padding: 14px 0;
  }
}
.LocalNav_item:last-child {
  position: relative;
  text-align: center;
  list-style: none;
  padding: 0;
  border-bottom: none;

  @include mq(lg-sub) {
    padding: 15px 0 12px;
  }
}

.current a {
  color: #43dbf2;
}

.LocalNav_item a:hover {
  color: #43dbf2;
}
.localNav_top {
  position: relative;
}
.localNav_top_text {
  position: absolute;
  top: get_vw_sp(22);
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  @include fz_vw_sp(15);
  font-weight: bold;

  @include mq(md) {
    top: 25px;
    font-size: 20px;
  }

  @include mq(lg-sub) {
    top: 16px;
    font-size: 14px;
  }
}
.btn_openClose {
  cursor: pointer;

  @include mq(lg-sub) {
    display: none;
  }
}
.btn_openClose p {
  font-family: DIN Condensed;
  @include fz_vw_sp(18);
  text-align: center;
  margin-top: 13px;
  line-height: 1;

  @include mq(md) {
    font-size: 22px;
  }
}
.btn_openClose {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.btn_openClose[aria-expanded="false"] {
  bottom: get_vw_sp(10);
  left: get_vw_sp(158);

  @include mq(md) {
    bottom: 12px;
    left: 200px;
  }

  @include mq(lg-sub) {
    bottom: 0;
    left: 0;
  }
}

.LocalNav_item.current {
  color: #43dbf2;
}

.top_img_wrapper {
  width: 100%;
}
.top_img_wrapper img {
  width: 100%;
}
.localNav_bottom {
  width: 100%;
}
.localNav_bottom img {
  width: 100%;
}
.disabled a {
  color: rgba($color: #fff, $alpha: 0.3);
}
