@import "../../assets/scss/mixin";
.LocalNav_area {
  background-color: rgba($color: #112b3a, $alpha: 0.75);
  padding: 0 get_vw(18);
}
.LocalNav_list {
  @include fz_vw(12);
  line-height: 2;
}
.LocalNav_list a {
  color: #fff;
}
.LocalNav_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: get_vw(15) 0;
}
.LocalNav_item:last-child {
  position: relative;
  text-align: center;
  border-bottom: none;
  padding: get_vw(15) 0 0;
}
.LocalNav_item:last-child::after {
  position: absolute;
  top: get_vw(24);
  right: get_vw(20);
  content: "";
  width: get_vw(5);
  height: get_vw(5);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.current {
  color: #43dbf2;
}
.localNav_top {
  position: relative;
}
.localNav_top_text {
  position: absolute;
  top: get_vw(13);
  left: get_vw(48);
  @include fz_vw(14);
  z-index: 2;
}
.LocalNav_list_02 {
  margin-left: get_vw(9);
}
