@import "../../assets/scss/mixin";

.mainVisual_area {
  position: relative;
  background-image: url("/top/bg_main_top_sp.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  @include mq(md) {
    background-image: url("/top/bg_main_top.webp");
    height: 100vh;
  }
}

.main_contents_area {
  position: absolute;
  z-index: 2;
  bottom: get_vw_sp(280);
  right: 0;
  width: 100%;

  @include mq(md) {
    width: auto;
    bottom: 290px;
    right: get_vw(360);
  }
  @include mq(md-lg) {
    right: get_vw(330);
  }
  @include mq(lg) {
    bottom: 200px;
    right: get_vw(240);
  }
  @include mq(xl) {
    bottom: 150px;
    right: get_vw(200);
  }
}
.logo_bluehunter_wrapper {
  width: get_vw_sp(370);
  margin: auto;

  @include mq(md) {
    margin: 0;
    width: 322px;
  }
  @include mq(md-lg) {
    width: 403px;
  }
  @include mq(lg) {
    width: 504px;
  }
  @include mq(xl) {
    width: 630px;
  }
}
.hero_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 99vw;

  @include mq(md) {
    bottom: -10px;
    right: get_vw(0);
    width: 420px;
  }
  @include mq(md-lg) {
    bottom: -130px;
    width: 525px;
  }
  @include mq(lg) {
    bottom: -340px;
    width: 656px;
  }
  @include mq(xl) {
    bottom: -520px;
    right: get_vw(0);
    width: 820px;
  }
}
.news_wrapper {
  position: absolute;
  bottom: get_vw_sp(-355);
  background-image: url("/top/top_newsArea_sp.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 100;
  padding: get_vw_sp(15) get_vw_sp(25);
  text-align: center;

  @include mq(md) {
    position: relative;
    text-align: initial;
    background-image: url("/top/top_newsArea.png");
    width: 524px;
    height: 35px;
    margin: 21px 0 0 15px;
  }
  @include mq(md-lg) {
    width: 655px;
    height: 43px;
    margin: 26px 0 0 19px;
  }
  @include mq(lg) {
    width: 819px;
    height: 53px;
    margin: 32px 0 0 24px;
  }
  @include mq(xl) {
    width: 1024px;
    height: 66px;
    margin: 40px 0 0 30px;
  }
}
.news_text_wrapper {
  z-index: 2;
  display: flex;

  @include mq(md) {
    position: absolute;
    top: get_vw(13);
    left: get_vw(36);
  }
  @include mq(md-lg) {
    top: get_vw(16);
    left: get_vw(45);
  }
  @include mq(lg) {
    top: get_vw(18);
    left: get_vw(53);
  }

  & p {
    color: #112b3a;
    @include fz_vw_sp(15);

    @include mq(md) {
      font-size: 10px;
    }
    @include mq(md-lg) {
      font-size: 12px;
    }
    @include mq(lg) {
      font-size: 14px;
    }
    @include mq(xl) {
      font-size: 16px;
    }
  }

  & .news_date {
    margin-right: get_vw(38);

    @include mq(sp-only) {
      @include fz_vw_sp(12);
      margin-right: get_vw_sp(25);
    }
  }
}
.news_text_wrapper:hover {
  color: #43abf2;
}
.news_text {
  margin-top: get_vw_sp(-2);
  text-align: initial;

  @include mq(md) {
    margin-top: 0;
  }
}
.news_btn {
  display: inline-block;
  width: get_vw_sp(285);
  margin-top: get_vw_sp(7);

  @include mq(md) {
    position: absolute;
    top: get_vw(7);
    right: get_vw(6);
    width: 73px;
  }
  @include mq(md-lg) {
    top: get_vw(9);
    right: get_vw(8);
    width: 91px;
  }
  @include mq(lg) {
    width: 112px;
  }
  @include mq(xl) {
    width: 140px;
  }
}
.news_btn:hover {
  opacity: 0.3;
}
.text_wrapper {
  width: get_vw_sp(320);
  margin: get_vw_sp(-25) auto 0;

  @include mq(md) {
    width: 272px;
    margin: get_vw(-30) 0 0 get_vw(36);
  }
  @include mq(md-lg) {
    width: 340px;
  }
  @include mq(lg) {
    width: 425px;
  }
  @include mq(xl) {
    width: 531px;
    margin: get_vw(-38) 0 0 get_vw(45);
  }

  & img {
    -webkit-backface-visibility: hidden;
  }
}
.bnr_wrapper {
  position: absolute;
  bottom: get_vw_sp(-200);
  right: 0;
  width: 100vw;
  z-index: 2;

  @include mq(md) {
    bottom: 390px;
    right: get_vw(50);
    width: 134px;
  }
  @include mq(md-lg) {
    bottom: 365px;
    width: 168px;
  }
  @include mq(lg) {
    bottom: 276px;
    width: 210px;
  }
  @include mq(xl) {
    bottom: 230px;
    right: get_vw(20);
    width: 292px;
  }
}
.scroll_wrapper {
  position: absolute;
  bottom: -40px;
  left: get_vw(720);
  text-align: center;
  z-index: 10;

  @include mq(md) {
    bottom: -32px;
  }
  @include mq(xl) {
    bottom: -40px;
  }

  & p {
    font-family: "DIN Condensed", "Oswald", sans-serif;

    @include mq(md) {
      font-size: 14px;
    }
    @include mq(xl) {
      font-size: 16px;
    }
  }

  & img {
    @include mq(md) {
      width: 7px;
    }
    @include mq(xl) {
      width: 9px;
    }
  }
}
.view_pc {
  display: none;

  @include mq(md) {
    display: block;
  }
}
.view_sp {
  @include mq(md) {
    display: none;
  }
}
