@import "../../assets/scss/mixin";

.mainVisual_area {
  position: relative;
  background-image: url("/top/bg_main_top_sp.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  padding-top: get_vw_sp(130);

  @include mq(md) {
    padding: get_vw(270) 0 get_vw(100);
    z-index: 0;
    background-image: url("/top/bg_main_top.png");
  }
}

.main_contents_area {
  width: 100%;

  @include mq(md) {
    position: static;
    width: get_vw(1060);
    margin: auto;
    padding-right: get_vw(20);
  }
}
.logo_bluehunter_wrapper {
  width: get_vw_sp(370);
  margin: auto;

  @include mq(md) {
    margin: 0;
    width: get_vw(630);
  }
}
.hero_wrapper {
  width: 99vw;
  z-index: -1;
  margin-left: auto;

  @include mq(md) {
    position: absolute;
    width: get_vw(953);
    bottom: get_vw(-580);
    right: get_vw(-135);
    margin: 0;
  }
}
.news_wrapper {
  position: absolute;
  bottom: get_vw_sp(-75);
  background-image: url("/top/top_newsArea_sp.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: get_vw_sp(15) get_vw_sp(25);
  text-align: center;
  z-index: 100;

  @include mq(md) {
    position: relative;
    text-align: initial;
    background-image: url("/top/top_newsArea.png");
    width: get_vw(1024);
    height: get_vw(66);
    margin: get_vw(32) 0 0 get_vw(24);
    padding: 0;
    bottom: auto;
  }
}
.news_text_wrapper {
  z-index: 2;
  display: flex;

  @include mq(md) {
    position: absolute;
    top: get_vw(17);
    left: get_vw(53);
  }

  & p {
    color: #112b3a;
    @include fz_vw_sp(15);

    @include mq(md) {
      @include fz_vw(16);
    }
  }

  & .news_date {
    margin-right: get_vw(38);

    @include mq(sp-only) {
      @include fz_vw_sp(12);
      margin-right: get_vw_sp(25);
    }
  }
}
.news_text_wrapper:hover {
  & p {
    color: #43abf2;
  }
}
.news_text {
  margin-top: get_vw_sp(-2);
  text-align: initial;

  @include mq(md) {
    margin-top: 0;
  }
}
.news_btn {
  display: inline-block;
  width: get_vw_sp(285);
  margin-top: get_vw_sp(7);

  @include mq(md) {
    position: absolute;
    width: get_vw(140);
    top: get_vw(8.5);
    right: get_vw(7);
    margin-top: 0;
  }
}
.news_btn:hover {
  opacity: 0.3;
}
.text_wrapper {
  width: get_vw_sp(320);
  margin: get_vw_sp(-25) auto 0;

  @include mq(md) {
    width: get_vw(531);
    margin: get_vw(-38) 0 0 get_vw(45);
  }
}
.text_wrapper_en {
  width: get_vw_sp(390);
  margin: get_vw_sp(-25) auto 0;

  @include mq(md) {
    width: get_vw(531);
    margin: get_vw(-38) 0 0 get_vw(45);
  }
}
.bnr_wrapper {
  position: absolute;
  bottom: get_vw_sp(-220);
  right: 0;
  width: 100vw;
  z-index: 2;

  @include mq(md) {
    width: get_vw(292);
    bottom: get_vw(180);
    right: get_vw(20);
  }
}
.view_pc {
  display: none;

  @include mq(md) {
    display: block;
  }
}
.view_sp {
  @include mq(md) {
    display: none;
  }
}
