@import "../../assets/scss/mixin";

.contents_inner {
  width: 100%;
  margin: auto;
  padding-top: get_vw_sp(234);

  @include mq(md) {
    max-width: 780px;
    padding: get_vw(130) 0 get_vw(78);
  }
}
.description {
  width: 87%;
  margin: 0 auto get_vw_sp(50);

  @include mq(md) {
    width: 64%;
    margin: 0 auto;
  }
}
.bnr_area {
  margin: get_vw_sp(28) calc(50% - 50vw) 0;
  background-image: url('/art/bg_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include mq(md) {
    width: 100%;
    margin: get_vw(80) 0 0;
  }
}
.main {
  // width: 100%;
  height: 3000px;
  background-color: #fff;
  padding: 60px;
}