@import "../../assets/scss/mixin";

.img_wrapper {
  margin-top: get_vw(25);
}
main {
  position: relative;
}
.textLeading_wrapper {
  margin-top: get_vw_sp(33);

  @include mq(md) {
    margin-top: get_vw(45);
  }
}
.textMediumSub_wrapper {
  margin-top: get_vw_sp(13);

  @include mq(md) {
    margin-top: get_vw(15);
  }
}
.textAnnotation_wrapper {
  margin-top: get_vw_sp(14);

  @include mq(md) {
    margin-top: get_vw(15);
  }
}
.pageTitle_wrapper {
  width: get_vw_sp(73);
  margin: auto;

  @include mq(md) {
    width: get_vw(100);
  }

  & img {
    image-rendering: -webkit-optimize-contrast;
  }
}
.contents_02 {
  margin-top: get_vw_sp(20);

  @include mq(md) {
    margin-top: get_vw(35);
  }
}
.text_wrapper {
  margin-top: get_vw_sp(15);

  @include mq(md) {
    margin-top: get_vw(20);
  }
}
.textlink {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}