@import "../../../assets/scss/mixin";

* {
  box-sizing: border-box;
}

body, input, button, p, div, select, textarea, span, a {
  font-family: Verdana, Arial, sans-serif;
}

a {
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.contents_inner {
  width: 100%;
  margin: auto;
  padding-top: get_vw_sp(234);

  @include mq(md) {
    max-width: 780px;
    padding: get_vw(130) 0 get_vw(78);
  }
}
.description {
  width: 87%;
  margin: 0 auto get_vw_sp(50);

  @include mq(md) {
    width: 64%;
    margin: 0 auto;
  }
}

.twitter_logo {
  position: fixed;
  right: get_vw_sp(-10);
  bottom: get_vw_sp(20);
  z-index: 1000;

  @include mq(md) {
    right: auto;
    bottom: auto;
    top: 43px;
    left: 86%;
    min-width: 107px;
  }
  @include mq(lg) {
    width: calc(100vw * 100 / 1366);
  }
}

.bnr_area {
  margin: get_vw_sp(28) calc(50% - 50vw) 0;
  background-image: url("/art/bg_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include mq(md) {
    width: 100%;
    margin: get_vw(80) 0 0;
  }
}
.main {
  // width: 100%;
  background-color: rgba(#fff, 0.8);
  padding: get_vw_sp(68) get_vw_sp(20) get_vw_sp(60);
  width: get_vw_sp(355);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    background-color: #fff;
    width: 100%;
    padding: 70px 40px 60px;
  }
  @include mq(lg) {
    padding: 70px 60px 60px;
  }
  p {
    color: #333;
  }
}

.main_block {
  & + & {
    margin-top: get_vw_sp(40);
    @include mq(md) {
      margin-top: 40px;
    }
  }
}

.main_blockLg {
  & + & {
    margin-top: get_vw_sp(60);
    @include mq(md) {
      margin-top: 70px;
    }
  }
}

.main_blockSm {
  & + & {
    margin-top: get_vw_sp(24);
    @include mq(md) {
      margin-top: 24px;
    }
  }
}

.main_heading2 {
  @include fz_vw_sp(18);
  color: #017a94;
  font-weight: bold;
  background-color: #d6f6f8;
  padding: get_vw_sp(8) get_vw_sp(10);
  margin-bottom: get_vw_sp(24);
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: 18px;
    padding: 7px 10px;
    margin-bottom: 24px;
  }
}

.main_heading3 {
  @include fz_vw_sp(18);
  color: #017a94;
  font-weight: bold;
  margin-bottom: get_vw_sp(16);
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.main_heading4 {
  @include fz_vw_sp(16);
  font-weight: bold;
  color: #333;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 16px;
  }
}

.main_imgHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: get_vw_sp(24);
  @include mq(md) {
    margin-bottom: 24px;
  }

  picture {
    width: 100%;
  }

  &Theme {
    img {
      max-width: 318px;
      width: 100%;
      @include mq(sm) {
        max-width: 100%;
      }
      @include mq(md) {
        max-width: 318px;
      }
    }
  }
  &Prizes {
    img {
      max-width: 294px;
      width: 100%;
      @include mq(sm) {
        max-width: 100%;
      }
      @include mq(md) {
        max-width: 294px;
      }
    }
  }
  &Howto {
    img {
      max-width: 424px;
      width: 100%;
      @include mq(sm) {
        max-width: 100%;
      }
      @include mq(md) {
        max-width: 424px;
      }
    }
  }
  &Detail {
    img {
      max-width: 506px;
      width: 100%;
      @include mq(sm) {
        max-width: 100%;
      }
      @include mq(md) {
        max-width: 506px;
      }
    }
  }
  span {
    @include fz_vw_sp(14);
    color: #017a94;
    margin-top: get_vw_sp(14);
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    @include mq(md) {
      font-size: 14px;
      margin-top: 14px;
    }
  }
}

.main_text {
  @include fz_vw_sp(16);
  line-height: 1.5;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 16px;
  }

  &Bold {
    font-weight: bold;
  }

  &Hashtag {
    color: #1d9bf0;
    font-weight: bold;
  }

  &Lg {
    @include fz_vw_sp(24);
    letter-spacing: 0;
    @include mq(md) {
      font-size: 24px;
      margin-bottom: 7px;
    }
  }
  &Right {
    text-align: right;
    display: block;
  }

  & + & {
    margin-top: 24px;
  }
}

.main_textBold {
  font-weight: bold;
  & + .main_text {
    margin-top: 0;
  }
}

.main_link {
  @include fz_vw_sp(16);
  color: #d7515e;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 16px;
  }
  &:hover {
    text-decoration: none;
  }
  &Anchor {
    position: relative;
    &::before {
      content: "";
      width: get_vw_sp(8);
      height: get_vw_sp(8);
      border-right: solid 2px #d7515e;
      border-bottom: solid 2px #d7515e;
      position: absolute;
      top: 50%;
      right: get_vw_sp(-16);
      transform: translateY(-50%) rotate(45deg);
      @include mq(md) {
        width: 8px;
        height: 8px;
        right: -16px;
      }
    }
  }
}

.main_annotation {
  @include fz_vw_sp(12);
  margin-bottom: get_vw_sp(16);
  color: #999;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.main_apply {
  margin-top: get_vw_sp(24);
  @include mq(md) {
    margin-top: 25px;
  }

  .main_numberList {
    padding-left: 0;
    text-indent: 0;
    @include mq(md) {
      padding-left: 0;
    }
    li + li {
      margin-top: get_vw_sp(23);
      @include mq(md) {
        margin-top: 23px;
      }
    }
  }
  .main_textBold {
    & + .main_text {
      padding-left: 1.3em;
    }
  }
}

.main_period {
  .main_numberList {
    margin-top: 40px;
    padding-left: 0;
    text-indent: 0;

    li + li {
      margin-top: 40px;
    }

    li {
      list-style: none;
      padding-left: 0;
    }
  }
}

.main_privacy {
  .main_numberList {
    padding-left: 0;
    text-indent: 0;
    li + li {
      margin-top: 40px;
    }
  }
  .main_text + .main_text {
    margin-top: 0;
  }
}

.main_list {
  margin-bottom: get_vw_sp(16);
  @include mq(md) {
    margin-bottom: 16px;
  }
  li {
    padding-left: 2em;
    position: relative;
    margin-left: 5px;

    &::before {
      content: "・";
      color: #017a94;
      @include fz_vw_sp(16);
      position: absolute;
      left: 0;
      top: 0;
      @include mq(md) {
        font-size: 16px;
      }
    }
  }
}

.main_numberList {
  padding-left: 2em;
  text-indent: -1.5em;
  margin-bottom: get_vw_sp(16);
  @include mq(md) {
    margin-bottom: 16px;
    margin-left: -2px;
  }
  // li {
  //   padding-left: 0.5em;
  //   &::marker {
  //     @include fz_vw_sp(16);
  //     color: #017A94;
  //     font-family: "Noto Sans CJK JP Subset", "Noto Sans", "Noto Sans CJK JP", sans-serif;
  //     @include mq(md) {
  //       font-size: 16px;
  //     }
  //   }
  // }
}

.main_num {
  @include fz_vw_sp(16);
  color: #017a94;
  font-weight: bold;
  @include mq(md) {
    font-size: 16px;
  }
}

.prizes_table {
  max-width: 560px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  tr {
    &:nth-child(2n + 1) {
      background-color: rgba(#78e1e9, 0.3);
    }
    &:nth-child(2n) {
      background-color: rgba(#d6f6ef, 0.3);
    }
  }
  th,
  td {
    color: #333;
  }
  th {
    @include fz_vw_sp(14);
    font-weight: bold;
    text-align: left;
    padding-left: get_vw_sp(10);
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    @include mq(md) {
      font-size: 14px;
      padding-left: 20px;
    }
  }
  td {
    @include fz_vw_sp(16);
    text-align: right;
    padding: 2.71vw get_vw_sp(10);
    letter-spacing: 0.05em;
    @include mq(md) {
      font-size: 16px;
      padding: 10px 19px;
    }
  }
}

.main_tableIcon {
  display: inline-block;
  padding: get_vw_sp(6);
  border-radius: 50%;
  background-color: #f9ff00;
  color: #017a94;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  @include fz_vw_sp(10);
  margin-left: get_vw_sp(5);
  @include mq(md) {
    font-size: 10px;
    margin-left: 5px;
    padding: 6px;
  }
}

.main_step {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  @include mq(sm) {
    max-width: 100%;
  }
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}

.main_stepItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(md) {
    width: calc((100% - 80px) / 3);
  }

  & + & {
    margin-top: get_vw_sp(48);
    @include mq(md) {
      margin-top: 0;
    }
  }
  &:not(:last-child) {
    position: relative;
    &::before {
      content: "";
      width: get_vw_sp(16);
      height: get_vw_sp(16);
      background-image: url("/art/arrow_right.svg");
      background-size: cover;
      position: absolute;
      bottom: get_vw_sp(-30);
      right: 50%;
      transform: translateX(50%) rotate(90deg);
      @include mq(md) {
        width: 16px;
        height: 16px;
        right: -28px;
        top: 60px;
        bottom: auto;
        transform: translateX(0) rotate(0);
      }
    }
  }
}

.main_stepTxt {
  text-align: center;
  @include fz_vw_sp(14);
  line-height: 1.43;
  margin-top: get_vw_sp(16);
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.main_stepBtn {
  margin-top: auto;
  width: 100%;
  height: get_vw_sp(40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #d7515e;
  @include fz_vw_sp(14);
  font-weight: bold;
  margin-top: get_vw_sp(16);
  @include mq(md) {
    margin-top: auto;
    font-size: 14px;
    height: 40px;
  }

  &Anchor {
    position: relative;
    &::before {
      content: "";
      width: get_vw_sp(12);
      height: get_vw_sp(8);
      background-image: url("/art/icon_arrow_bottom.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: get_vw_sp(11);
      transform: translateY(-50%);
      @include mq(md) {
        width: 12px;
        height: 8px;
        right: 11px;
      }
    }
  }
  &External {
    position: relative;
    &::before {
      content: "";
      width: get_vw_sp(14);
      height: get_vw_sp(14);
      background-image: url("/art/icon_external.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: get_vw_sp(11);
      transform: translateY(-50%);
      @include mq(md) {
        width: 14px;
        height: 14px;
        right: 11px;
      }
    }
  }
}

.main_stepBtnImg {
  width: get_vw_sp(24);
  @include mq(md) {
    width: 100%;
    max-width: 24px;
  }
}

.main_btn {
  max-width: 300px;
  height: get_vw_sp(45);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fz_vw_sp(16);
  font-weight: bold;
  color: #1d9bf0;
  background-color: #fff;
  border-radius: 100px;
  border: solid 1px #1d9bf0;
  margin-top: get_vw_sp(24);
  @include mq(sm) {
    max-width: 100%;
  }
  @include mq(md) {
    max-width: 300px;
    margin-top: 32px;
    font-size: 16px;
    height: 45px;
  }

  &External {
    position: relative;
    &::before {
      content: "";
      width: get_vw_sp(14);
      height: get_vw_sp(14);
      background-image: url("/art/icon_external_twitter.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: get_vw_sp(20);
      transform: translateY(-50%);
      @include mq(md) {
        width: 14px;
        height: 14px;
        right: 20px;
      }
    }
  }

  &Img {
    width: get_vw_sp(24);
    @include mq(md) {
      width: 100%;
      max-width: 24px;
    }
  }
}

.main_table {
  width: 100%;
  display: block;

  tr {
    width: 100%;
    flex-shrink: 0;

    th,
    td {
      border-bottom: solid 1px #017a94;
    }

    &:first-child {
      th,
      td {
        border-top: solid 1px #017a94;
      }
    }
  }
  th {
    max-width: 298px;
    width: calc(100vw * 158 / 375);
    background-color: #f3fcfa;
    @include fz_vw_sp(14);
    font-weight: bold;
    text-align: left;
    padding-top: get_vw_sp(10);
    padding-bottom: get_vw_sp(10);
    padding-left: get_vw_sp(10);
    padding-right: get_vw_sp(10);
    @include mq(md) {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 0;
      width: calc(100vw * 298 / 800);
    }
    span {
      color: #d7515e;
    }
  }
  td {
    max-width: 502px;
    width: calc(100vw * 157 / 375);
    @include fz_vw_sp(16);
    padding: get_vw_sp(16) get_vw_sp(10);
    @include mq(md) {
      font-size: 16px;
      padding: 16px 0 16px 20px;
      width: calc(100vw * 502 / 800);
    }
  }
}

.main_embedTwitter {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: get_vw_sp(16);
  @include mq(md) {
    margin-top: 16px;
  }
  iframe {
    flex-grow: 0;
  }
}

.main_template {
  margin-top: 80px;
  @include mq(md) {
    margin-top: 80px;
  }
}

.sp_only {
  @include mq(md) {
    display: none;
  }
}
