@import "../../assets/scss/mixin";

.btn_wrapper {
  cursor: pointer;
  position: relative;

  & p {
    display: inline-block;
    padding: 0 0 0 16px;
  }
}
.btn_wrapper:hover {
  opacity: 0.8;
}
.text {
  position: absolute;
  top: get_vw_sp(14);
  left: get_vw_sp(105);
  color: #0078ce;
  @include fz_vw_sp(15);
  font-weight: bold;

  @include mq(md) {
    font-size: 24px;
    top: 27px;
    left: 220px;
  }
}
.text::after {
  top: get_vw_sp(8);
  right: get_vw_sp(-28);
  width: get_vw_sp(8);
  height: get_vw_sp(8);
  border-top: get_vw_sp(3) solid #0078ce;
  border-right: get_vw_sp(3) solid #0078ce;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;

  @include mq(md) {
    top: 17px;
    right: -28px;
    width: 8px;
    height: 8px;
    border-top: 3px solid #0078ce;
    border-right: 3px solid #0078ce;
  }
}
.disabled {
  pointer-events: none;
}
.disabled .text {
  color: #fff;
  top: get_vw_sp(8);
  left: get_vw_sp(90);

  @include mq(md) {
    top: 18px;
    left: 190px;
  }
}
.disabled .text::after {
  content: none;
}
