@import "../../assets/scss/mixin";

.btn_wrapper {
  width: get_vw_sp(150);
  cursor: pointer;

  @include mq(md) {
    width: get_vw(276);
  }

  & img {
    -webkit-backface-visibility: hidden;
  }
}
.btn_wrapper:hover {
  opacity: 0.8;
}
.disabled {
  pointer-events: none;
}
