@import "../../assets/scss/mixin";

.labelNew_wrapper {
  position: absolute;
  background-color: #fee737;
  top: get_vw_sp(19);
  right: get_vw_sp(72);
  width: get_vw_sp(38);
  height: get_vw_sp(20);

  @include mq(md) {
    top: 22px;
    right: 103px;
    width: 38px;
    height: 20px;
  }

  @include mq(lg-sub) {
    top: 18px;
    right: 40px;
    width: 38px;
    height: 20px;
  }
}
.labelNew {
  @include fz_vw_sp(16);
  color: #112b3a;
  line-height: 1.5;
  font-family: DIN Condensed;

  @include mq(md) {
    font-size: 16px;
  }
}
