@import "../../assets/scss/mixin";

.img_wrap {
  display: inline-block;
  width: get_vw_sp(125);
  height: get_vw_sp(120);
  background-color: #fff;

  @include mq(md) {
    width: get_vw(301);
    height: get_vw(287);
  }

  & img {
    image-rendering: -webkit-optimize-contrast;
  }
}
.img_wrap:hover img {
  opacity: 0.3;
}
