@import "../../assets/scss/mixin";

.img__wrap {
  display: none;

  @include mq(md) {
    width: get_vw(147);
    height: get_vw(138);
    display: block;
    background-color: #fff;
  }

  & img {
    image-rendering: -webkit-optimize-contrast;
  }
}
.img__wrap:hover img {
  opacity: 0.3;
}
