@import "../../assets/scss/mixin";

.img_wrap {
  display: inline-block;
  width: get_vw_sp(125);
  height: 100%;
  background-color: #fff;

  @include mq(md) {
    width: get_vw(260);
    height: 100%;
  }
}
.img_wrap:hover img {
  opacity: 0.3;
}
