@import "../../assets/scss/mixin";

.text {
  @include fz_vw_sp(15);
  text-align: center;
  font-weight: bold;

  @include mq(md) {
    @include fz_vw(16);
  }
}
.text_highlight {
  &.color_lightBlue {
    color: #43dbf2;
  }
  &.color_green {
    color: #4ef9cf;
  }
  &.color_yellow {
    color: #daf4a1;
  }
  &.color_blue {
    color: #6197e9;
  }
  &.color_purple {
    color: #c9a1fe;
  }
}
