@import "../../assets/scss/mixin";

.img__wrap {
  width: 100%;
  margin: auto;

  @include mq(md) {
    width: get_vw(421);
  }

  & img {
    image-rendering: -webkit-optimize-contrast;
    -webkit-backface-visibility: hidden;
  }
}
