@import "../../assets/scss/mixin";

.text {
  @include fz_vw_sp(14);
  font-weight: bold;
  color: #fff;
  line-height: 1.71;

  @include mq(md) {
    @include fz_vw(16);
    line-height: 2.25;
  }
}
