@import "../../assets/scss/mixin";

.text {
  @include fz_vw_sp(15);
  font-weight: bold;
  color: #fff;
  line-height: 1.71;

  @include mq(md) {
    @include fz_vw(16);
    line-height: 2.25;
  }
}
.next_read_wrapper {
  text-align: center;
  margin-top: get_vw_sp(3);

  @include mq(md) {
    margin-top: get_vw(3);
  }
}
.next_read {
  display: inline;
  @include fz_vw_sp(15);
  font-weight: bold;
  color: #43dbf2;
  text-decoration: underline;

  @include mq(md) {
    @include fz_vw(16);
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
[aria-hidden="true"] {
  display: none;
}
