@import "../../assets/scss/mixin";

.text {
  @include fz_vw_sp(24);
  font-weight: bold;
  color: #fff;
  line-height: 1.33;

  @include mq(md) {
    @include fz_vw(24);
    line-height: 1.66;
  }
}

