@import "../../assets/scss/mixin";

.bread ul {
  display: flex;
  list-style-type: none;
}
.bread li a {
  color: #fff;
  text-decoration: underline;
  padding: get_vw(5);
  @include fz_vw_sp(12);

  @include mq(md) {
    padding: get_vw(5);
    @include fz_vw(12);
  }
}
.bread li {
  display: inline;
  overflow-wrap: break-word;
  word-break: break-all;
}
.bread li:last-child a {
  text-decoration: none;
  color: #43dbf2;
}
.bread li:after {
  content: "\003e";
  margin-left: get_vw(3);
  margin-right: get_vw(3);
  color: #fff;
}
// .bread li:last-child::after {
//   content: "";
// }
