@import "../../assets/scss/mixin";

.label02 {
  position: relative;
  height: get_vw_sp(27);
  background-color: rgba(67, 219, 242, 0.8);
  text-align: center;
  display: flex;
  margin: 0 auto;

  @include mq(md) {
    height: get_vw(48);
    margin-top: get_vw(22);
  }
}
.label02::after {
  content: "";
  position: absolute;
  top: 0;
  right: get_vw_sp(-10);
  width: 0;
  height: 0;
  border-left: get_vw_sp(10) solid rgba(67, 219, 242, 0.8);
  border-top: get_vw_sp(13) solid transparent;
  border-bottom: get_vw_sp(14) solid transparent;

  @include mq(md) {
    right: get_vw(-20);
    border-left: get_vw(20) solid rgba(67, 219, 242, 0.8);
    border-top: get_vw(24) solid transparent;
    border-bottom: get_vw(24) solid transparent;
  }
}
.label02::before {
  content: "";
  position: absolute;
  top: 0;
  left: get_vw_sp(-10);
  width: 0;
  height: 0;
  border-right: get_vw_sp(10) solid rgba(67, 219, 242, 0.8);
  border-top: get_vw_sp(13) solid transparent;
  border-bottom: get_vw_sp(14) solid transparent;

  @include mq(md) {
    left: get_vw(-20);
    border-right: get_vw(20.3) solid rgba(67, 219, 242, 0.8);
    border-top: get_vw(24) solid transparent;
    border-bottom: get_vw(24) solid transparent;
  }
}
.label02_item {
  @include fz_vw_sp(15);
  color: #fff;
  margin: auto;
  font-weight: bold;

  @include mq(md) {
    @include fz_vw(16);
  }
}
