@import "../../assets/scss/mixin";

.pager {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: get_vw_sp(15);

  @include mq(md) {
    display: none;
  }
}
.btn_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: get_vw_sp(325);
  margin-top: get_vw_sp(15);
}
