@import "../../assets/scss/mixin";

.sns_area {
  text-align: center;
  width: get_vw_sp(145);
  margin: get_vw_sp(16) auto 0;

  @include mq(md) {
    width: 170px;
    margin-top: 35px;
  }
}
.facebook_wrapper {
  width: get_vw_sp(58);

  @include mq(md) {
    width: 70px;
  }
}
.twitter_wrapper {
  width: get_vw_sp(57);

  @include mq(md) {
    width: 70px;
  }

  & img {
    height: 100%;
  }
}
.text {
  font-family: "DIN Condensed", "Oswald", sans-serif;
  @include fz_vw_sp(18);

  @include mq(md) {
    font-size: 24px;
  }
}
.sns_icon_wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.link:hover {
  opacity: 0.8;
}