button.is-current {
  &::before {
    border: solid 2px #FEE737;
    background-color: #FEE737;
  }
}


/*========= レイアウトのためのCSS ===============*/

#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}

img {
  width: 100%;
}