@import "../../assets/scss/mixin";

.lead_area {
  width: 100%;
  background-image: url('/art/bg_2_sp.jpg');
  background-size: cover;
  padding: get_vw_sp(71) get_vw_sp(30) get_vw_sp(60);
  position: relative;
  background-position: center;
  z-index: 10;
  @include mq(md) {
    padding: 71px 20px 60px;
    background-image: url('/art/bg_2.jpg');
  }
  @include mq(lg) {
    padding: 71px 0 60px;
  }
}

.lead_inner  {
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.lead_textBlock {
  margin-top: get_vw_sp(24);
  @include mq(md) {
    text-align: center;
    margin-top: 24px;
  }
}

.lead_title {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.lead_text {
  @include fz_vw_sp(16);
  line-height: 1.5;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 16px;
  }
  & + & {
    margin-top: get_vw_sp(26);
    @include mq(md) {
      margin-top: 24px;
    }
  }
}

.lead_attention {
  margin-top: get_vw_sp(20);
  @include fz_vw_sp(12);
  line-height: 1.2;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
  }
}

.lead_btnComingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  height: get_vw_sp(62);
  font-weight: bold;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include fz_vw_sp(14);
  margin-top: get_vw_sp(40);
  letter-spacing: 0.05em;
  border-radius: 100px;
  border: solid 1px #fff;
  @include mq(sm) {
    max-width: 100%;
  }
  @include mq(md) {
    max-width: 460px;
    font-size: 16px;
    height: 62px;
    margin-top: 40px;
  }
}

.lead_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  height: get_vw_sp(62);
  width: 100%;
  border-radius: 100px;
  background-color: #fff;
  @include fz_vw_sp(14);
  font-weight: bold;
  color: #017A94;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: get_vw_sp(40);
  letter-spacing: 0.05em;
  @include mq(sm) {
    max-width: 100%;
  }
  @include mq(md) {
    max-width: 460px;
    font-size: 16px;
    height: 62px;
    margin-top: 40px;
  }

  transition: all 0.2s;
  &:hover {
    background-color: #D7515E;
    color: #fff;
    opacity: 1;
    &::before {
      background-image: url('/art/icon_external.svg');
    }
  }

  &::before {
    content: "";
    width: get_vw_sp(14);
    height: get_vw_sp(14);
    background-image: url('/art/icon_external_blue.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: get_vw_sp(21);
    @include mq(md) {
      width: 14px;
      height: 14px;
      right: 21px;
    }
  }
}

.pc_only {
  display: none;
  @include mq(md) {
    display: block;
  }
}