@import "../../assets/scss/mixin";

.lead_area {
  width: 100%;
  background-image: url('/art/bg_2_sp.jpg');
  background-size: cover;
  padding: get_vw_sp(71) get_vw_sp(10) get_vw_sp(80);
  position: relative;
  background-position: center;
  z-index: 10;
  @include mq(md) {
    padding: 71px 20px 80px;
    background-image: url('/art/bg_2.jpg');
  }
  @include mq(lg) {
    padding: 71px 0 80px;
  }
}

.lead_inner  {
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.lead_textBlock {
  margin-top: get_vw_sp(24);
  padding: 0 get_vw_sp(20);
  @include mq(md) {
    text-align: center;
    margin-top: 24px;
    padding: 0;
  }
}

.lead_title {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
}

.lead_text {
  @include fz_vw_sp(16);
  line-height: 1.5;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 16px;
  }
  & + & {
    margin-top: get_vw_sp(26);
    @include mq(md) {
      margin-top: 24px;
    }
  }
}

.lead_attention {
  margin-top: get_vw_sp(20);
  @include fz_vw_sp(12);
  line-height: 1.2;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
  }
}

.lead_btnComingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  height: get_vw_sp(62);
  font-weight: bold;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include fz_vw_sp(14);
  margin-top: get_vw_sp(40);
  letter-spacing: 0.05em;
  border-radius: 100px;
  border: solid 1px #fff;
  @include mq(sm) {
    max-width: 100%;
  }
  @include mq(md) {
    max-width: 460px;
    font-size: 16px;
    height: 62px;
    margin-top: 40px;
  }
}

.lead_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  height: get_vw_sp(62);
  width: 90%;
  border-radius: 100px;
  background-color: #fff;
  @include fz_vw_sp(14);
  font-weight: bold;
  color: #017A94;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: get_vw_sp(20);

  &Pc {
    display: none;
    @include mq(md) {
      display: flex;
    }
  }
  &Sp {
    @include mq(md) {
      display: none;
    }
  }
  @include mq(sm) {
    max-width: 100%;
    width: 100%;
  }
  @include mq(md) {
    max-width: 460px;
    font-size: 16px;
    height: 62px;
    margin-top: 20px;
    letter-spacing: 0.05em;
  }

  transition: all 0.2s;
  &:hover {
    background-color: #D7515E;
    color: #fff;
    opacity: 1;
    &::before {
      background-image: url('/art/icon_external.svg');
    }
  }

  &::before {
    content: "";
    width: get_vw_sp(14);
    height: get_vw_sp(14);
    background-image: url('/art/icon_external_blue.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: get_vw_sp(21);
    @include mq(md) {
      width: 14px;
      height: 14px;
      right: 21px;
    }
  }
}

.pc_only {
  display: none;
  @include mq(md) {
    display: block;
  }
}


.lead_event {
  background-color: #fff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: get_vw_sp(40) get_vw_sp(20);

  @include mq(md) {
    padding: 40px;
  }
}

.lead_event_item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #017A94;
  padding: get_vw_sp(17) 0;
  text-align: center;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    padding: 14px 20px;
    text-align: left;
  }

  &:first-child {
    border-top: solid 1px #017A94;
  }

  dt {
    @include fz_vw_sp(14);
    color: #017A94;
    font-weight: bold;
    @include mq(md) {
      width: 124px;
      font-size: 16px;
    }
  }
}

.lead_event_txt {
  @include fz_vw_sp(20);
  color: #000;
  font-weight: bold;
  font-family: "Noto Sans CJK JP Subset", "Noto Sans", "Noto Sans CJK JP", sans-serif;
  @include mq(md) {
    font-size: 20px;
  }
}
.lead_event_txt_sm {
  @include fz_vw_sp(14);
  color: #000;
  font-weight: normal;
  @include mq(md) {
    font-size: 14px;
  }
}

.lead_event_txt_link {
  @include fz_vw_sp(14);
  color: #D7515E;
  text-decoration: underline;
  position: relative;
  margin-left: get_vw_sp(10);
  margin-right: get_vw_sp(15);
  @include mq(md) {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 0;
  }

  &::before {
    content: "";
    width: get_vw_sp(14);
    height: get_vw_sp(14);
    background-image: url('/art/icon_ex_link.svg');
    background-size: cover;
    position: absolute;
    top: 2px;
    right: get_vw_sp(-19);
    @include mq(md) {
      width: 14px;
      height: 14px;
      right: -19px;
    }
  }
}
.lead_performer_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -16px;

  li {
    text-align: center;
    width: calc((100% - 30px) / 2);
    margin-bottom: 16px;

    @include mq(md) {
      width: auto;
    }
    & + li {
      margin-left: 30px;
      @include mq(md) {
        margin-left: 32px;
      }
    }
    &:nth-child(2n + 3){
      margin-left: 0;
      @include mq(md) {
        margin-left: 32px;
      }
    }
  }

  span {
    display: block;
    line-height: 1;
  }
}