@import "../../assets/scss/mixin";

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;;
  width: 100%;
  background: rgba(#000, .8);
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  @include mq(md) {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.overlay_arrows {
  display: flex;
  justify-content: center;
  .overlay_arrows_left + .overlay_arrows_right {
    margin-left: 40px;
  }
  @include mq(md) {
    display: block;
    .overlay_arrows_left + .overlay_arrows_right {
      margin-left: 0;
    }
  }
}

.btn_close,
.overlay_arrows_left,
.overlay_arrows_right {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.btn_close {
  width: 60px;
  height: 60px;
  background-color: #017A94;
  position: absolute;
  top: 0;
  right: 0;

  svg {
    pointer-events: none;
  }
}

.overlay_arrows_left {
  display: flex;
  background-color: #017A94;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  z-index: 999;
  position: relative;
  @include mq(md) {
    left: 0;
    position: absolute;
    top: 370px;
  }
  @media screen and (min-width: 1120px){
    left: calc(50% - 500px);
  }
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-left: solid 3px #fff;
    border-bottom: solid 3px #fff;
    transform: rotate(45deg) translate(-50%, -50%);
    top: 56%;
    left: 45%;
  }
}

.overlay_arrows_right {
  display: flex;
  background-color: #017A94;
  justify-content: space-between;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 9999;
  @include mq(md) {
    right: 0;
    position: absolute;
    top: 370px;
  }
  @media screen and (min-width: 1120px){
    right: calc(50% - 500px);
  }
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-right: solid 3px #fff;
    border-bottom: solid 3px #fff;
    transform: rotate(-45deg) translate(-50%, -50%);
    top: 38%;
    left: 48%;
  }
}

.modal_container {
  max-width: 680px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 40px;

  @include mq(md) {
    padding-top: 0;
  }

  img {
    max-width: 680px;
    max-height: 680px;
    object-fit: contain;
  }
}

.modal_product_info {
  margin-top: 20px;
  padding: 0 get_vw_sp(30);
  @include mq(md) {
    padding: 0;
    height: auto;
  }
  p {
    color: #fff;
  }
}

.modal_product_title,
.modal_product_author {
  @include fz_vw_sp(16);

  @include mq(md) {
    font-size: 16px;
  }
  span {
    @include fz_vw_sp(14);
    font-weight: bold;
    display: inline-block;
    width: get_vw_sp(87);
    @include mq(md) {
      width: 129px;
      font-size: 14px;
    }
  }
}

.modal_product_feature {
  white-space: pre-wrap;
  @include fz_vw_sp(16);
  margin-top: 20px;
  @include mq(md) {
    font-size: 16px;
  }
  span {
    @include fz_vw_sp(14);
    font-weight: bold;
    display: block;
    @include mq(md) {
      font-size: 14px;
    }
  }
}

.modal_img_wrap + .modal_img_wrap {
  margin-top: 20px;
}

.modal_img_wrap + .modal_video_wrap {
  margin-top: 20px;
}

.modal_video_wrap + .modal_video_wrap {
  margin-top: 20px;
}

.modal_video_wrap {
  video {
    width: 100%;
  }
}