@import "../../assets/scss/mixin";

.mv_area {
  width: 100vw;
  background-image: url('/art/bg_mv_sp.png');
  background-size: cover;
  z-index: 10;
  position: relative;
  height: get_vw_sp(810);
  padding: get_vw_sp(30) get_vw_sp(30) 0;
  @include mq(md) {
    padding: 0;
    height: 100%;
    // height: 100vh;
    padding-bottom: 80px;
    background-image: url('/art/bg_mv.png');
  }
  @include mq(xxl) {
    padding-bottom: calc(100vw * 80 / 1366);
  }
  &::before {
    content: "";
    width: get_vw_sp(250);
    height: get_vw_sp(742);
    background-image: url('/art/mv_character.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom:  get_vw_sp(-451);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    @include mq(md) {
      content: "";
      width: 230px;
      height: 684px;
      background-image: url('/art/mv_character.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: auto;
      z-index: -1;
      transform: translateX(0);
      right: 0;
      top: 16px;
      left: auto;
    }
    @include mq(lg) {
      // right: calc((100vw - 1160px) / 2);
      right: calc(100vw * 135 / 1366);
      width: calc(100vw * 230 / 1366);
      height: calc(100vw * 684 / 1366);
    }
  }
}
.mv_left {
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    display: block;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 100;
  }
  @include mq(xxl) {
    top: calc(100vw * 40 / 1366);
  }
}

.mv_leftImg {
  width: get_vw_sp(210);
  @include mq(md) {
    width: 100%;
    max-width: calc(100vw * 200 / 1028);
  }
  @include mq(lg) {
    max-width: calc(100vw * 200 / 1366);
  }
}

.mv_main {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  @include mq(md) {
    padding-top: 40px;
  }
  @include mq(xxl) {
    padding-top: calc(100vw * 40 / 1366);
  }

  &::before {
    display: none;
    // @include mq(md) {
    //   display: block;
    //   content: "";
    //   background-image: url('/art/mv_character.png');
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   z-index: -1;
    //   width: 230px;
    //   height: 648px;
    //   top: 0;
    //   right: 0;
    // }
  }
}

.mv_lotoTop {
  width: get_vw_sp(250);
  margin-left: auto;
  margin-right: auto;
  margin-top: get_vw_sp(30);
  @include mq(md) {
    width: 100%;
    max-width: calc(100vw * 417 / 1028);
    margin-top: 0;
  }
  @include mq(lg) {
    max-width: 417px;
  }
  @include mq(lg) {
    max-width: calc(100vw * 417 / 1366);
  }
}

.mv_lotoCenter {
  width: get_vw_sp(345);
  margin-left: auto;
  margin-right: auto;
  margin-top: get_vw_sp(10);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    max-width: 50vw;
    position: static;
    margin-top: calc(100vw * 40 / 1028);;
    transform: translateX(0);
  }
  @media screen and (min-width: 1160px){
    max-width: 640px;
  }
  @include mq(lg) {
    margin-top: 20px;
    max-width: calc(100vw * 640 / 1366);
  }
}

.mv_announce {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #017A94;
  margin-top: get_vw_sp(20);
  background: linear-gradient(to right,rgba(#fff, 0) 0%,rgba(#fff, 1) 15%, rgba(#fff,1) 85%, rgba(#fff, 0) 100%);
  @include mq(md) {
    margin-top: calc(100vw * 50 / 1028);
  }
  @include mq(lg) {
    margin-top: 20px;
  }
  @include mq(lg) {
    max-width: calc(100vw * 600 / 1366);
  }
}

.mv_announceTop {
  padding: get_vw_sp(10) 0;
  @include mq(md) {
    padding: 11px 0;
    white-space: nowrap;
  }
  p {
    @include fz_vw_sp(24);
    color: #007AAB;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    @include mq(md) {
      font-size: 30px;
      // letter-spacing: 0.25em;
      // padding-right: 10px;
      position: relative;
      top: 3px;
      flex-direction: row;
    }
    @include mq(lg) {
      font-size: calc(100vw * 30 / 1366);
    }
    > span {
      margin-top: get_vw_sp(5);
      display: flex;
      align-items: center;
      @include mq(md) {
        margin-top: 0;
      }
    }
    .mv_price {
      @include fz_vw_sp(40);
      @include mq(md) {
        font-size: 56px;
        margin-top: 0;
        position: relative;
        top: -3px;
        letter-spacing: -0.02em;
        margin-right: 10px;
      }
      @include mq(lg) {
        font-size: calc(100vw * 56 / 1366);
      }
    }
  }
}

.mv_announceBottom {
  border-top: solid 1px #017A94;
  border-bottom: solid 1px #017A94; 
  padding: get_vw_sp(4) 0;
  @include mq(md) {
    padding: 8px 0;
  }
  p {
    display: flex;
    color: #017A94;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    @include mq(md) {
      font-size: 22px;
    }
    @include fz_vw_sp(16);
  }
  dl {
    display: flex;
    align-items: center;
    border-top: solid 1px #017A94;
    border-bottom: solid 1px #017A94;
    padding: get_vw_sp(9) 0;
    color: #017A94;
    font-weight: bold;
    letter-spacing: 0.1em;
    white-space: nowrap;
    @include mq(md) {
      padding: 8px 0;
    }
  }
  dt {
    position: relative;
    padding: 0 get_vw_sp(5) 0 get_vw_sp(3);
    @include fz_vw_sp(16);
    @include mq(md) {
      font-size: 20px;
      padding: 0 24px;
      line-height: 1.25;
    }
    @include mq(lg) {
      font-size: calc(100vw * 20 / 1366);
    }
    &::before {
      content: ":";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: get_vw_sp(-2);
      color: #017A94;
      @include mq(md) {
        content: "";
        width: 1px;
        height: 80%;
        right: 0;
        background-color: #017A94;
      }
    }
  }
  dd {
    @include fz_vw_sp(16);
    padding-left: get_vw_sp(5);
    letter-spacing: 0.02em;
    @include mq(md) {
      font-size: 24px;
      padding-left: 35px;
      letter-spacing: 0;
      letter-spacing: 0.12em;
    }
    @include mq(lg) {
      font-size: calc(100vw * 24 / 1366);
    }
  }
}

.mv_lang {
  display: flex;
  flex-direction: column;
  @include fz_vw_sp(16);
  justify-content: center;
  align-items: center;
  line-height: 2;

  @include mq(md) {
    font-size: 16px;
    flex-direction: row;
    margin-top: 20px;
    line-height: 1.5;
  }

  span {
    display: none;
    @include mq(md) {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.mv_langActive {
  @include fz_vw_sp(16);
  font-weight: bold;
  color: #333;
  @include mq(md) {
    font-size: 16px;
  }
}
.mv_langInactive {
  @include fz_vw_sp(16);
  color: #017A94;
  text-decoration: underline;
  @include mq(md) {
    font-size: 16px;
  }
  &:hover {
    text-decoration: none;
  }
}

.sp_only {
  @include mq(md) {
    display:none
  }
}