@import "../../assets/scss/mixin";

.main_contents_area_top {
  padding: get_vw_sp(25) get_vw_sp(27) 0;
  background-position: get_vw_sp(2) top;
  background-size: 98.9% 101%;
  background-repeat: no-repeat;

  @include mq(md) {
    background-position: get_vw(7) top;
    padding: get_vw(27) get_vw(50) get_vw(20);
  }

  &.color_lightBlue {
    background-image: url("/common/contentsArea_top_lightBlue.webp");
  }
  &.color_green {
    background-image: url("/common/contentsArea_top_green.webp");
  }
  &.color_yellow {
    background-image: url("/common/contentsArea_top_yellow.webp");
  }
  &.color_blue {
    background-image: url("/common/contentsArea_top_blue.webp");
  }
  &.color_purple {
    background-image: url("/common/contentsArea_top_purple.webp");
  }
}
