@import "../../assets/scss/mixin";

.main_contents_area_middle {
  position: relative;
  padding: get_vw_sp(10) 0;
  background: url("/common/contentsArea_center_lightBlue.webp") repeat-y;
  background-position: get_vw_sp(2) get_vw_sp(0);
  background-size: 97.7%;

  @include mq(md) {
    background-position: get_vw(10) center;
    padding: 0 get_vw(57);
  }
}
.main_contents_area_inner {
  width: 83%;
  margin: auto;
  @include mq(md) {
    width: auto;
    margin: 0;
  }
}