@import "../../assets/scss/mixin";

.main_contents_area {
  position: relative;
  margin: get_vw_sp(20) auto 0;
  width: 100%;

  @include mq(md) {
    margin: 30px auto;
    width: 750px;
  }

  @include mq(lg-sub) {
    margin: 0;
  }
}
