@import "../../assets/scss/mixin";

.main_contents_area_middle {
  position: relative;
  padding: get_vw_sp(10) 0;
  background-repeat: repeat-y;
  background-position: get_vw_sp(2) get_vw_sp(0);
  background-size: 97.7%;

  @include mq(md) {
    background-position: get_vw(7) center;
    padding: 0 get_vw(50);
  }

  &.color_lightBlue {
    background-image: url("/common/contentsArea_center_lightBlue.webp");
  }
  &.color_green {
    background-image: url("/common/contentsArea_center_green.webp");
  }
  &.color_yellow {
    background-image: url("/common/contentsArea_center_yellow.webp");
  }
  &.color_blue {
    background-image: url("/common/contentsArea_center_blue.webp");
  }
  &.color_purple {
    background-image: url("/common/contentsArea_center_purple.webp");
  }
}
.main_contents_area_inner {
  width: 83%;
  margin: auto;
  @include mq(md) {
    width: auto;
    margin: 0;
  }
}
