@import "../../assets/scss/mixin";

.wrap {
  display: none;
  @include mq(md) {
    display: block;
    position: relative;
    text-align: center;
  }
}
.menu {
  position: absolute;
  display: flex;
  top: 2.97vw;
  left: 10.8vw;
  height: get_vw(68);
}
.nav_bg {
  width: get_vw(820);
}
.menu_item_inner {
  font-weight: bold;
  height: get_vw(45);
  background-repeat: no-repeat;
}
.menu_item_inner .menu_item_link {
  border-right: 1px solid rgba(17, 43, 58, 0.2);
  display: inline-block;
  margin: get_vw(12) 0 get_vw(6);
  width: 100%;

  & img {
    padding-top: get_vw(5);
  }
}
.menu_item:last-child .menu_item_link {
  border-right: none;
}
.menu_item {
  height: 100%;
}
.menu_item:hover {
  & img {
    visibility: hidden;
  }
  & .text {
    color: #fff;
  }
}
.menu_item:nth-child(1) {
  background-size: get_vw(90);

  &:hover {
    background-image: url("/common/nav_text_news_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }

  & .menu_item_inner {
    width: get_vw(90);
  }
}
.menu_item:nth-child(2) {
  background-size: get_vw(90);

  &:hover {
    background-image: url("/common/nav_text_comic_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }
  & .menu_item_inner {
    width: get_vw(90);
  }
}
.menu_item:nth-child(3) {
  background-size: get_vw(160);

  &:hover {
    background-image: url("/common/nav_text_world_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }
  & .menu_item_inner {
    width: get_vw(160);
  }
}
.menu_item:nth-child(4) {
  background-size: get_vw(130);

  &:hover {
    background-image: url("/common/nav_text_characters_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }
  & .menu_item_inner {
    width: get_vw(130);
  }
}
.menu_item:nth-child(5) {
  background-size: get_vw(93);

  &:hover {
    background-image: url("/common/nav_text_staff_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }
  & .menu_item_inner {
    width: get_vw(93);
  }
}
.menu_item:nth-child(6) {
  background-size: get_vw(102);

  &:hover {
    background-image: url("/common/nav_text_special_hover.png");
    background-position: 0;
    background-repeat: no-repeat;
  }
  & .menu_item_inner {
    width: get_vw(102);
  }

  & .text {
    margin-top: get_vw(1);
  }
}
.text {
  @include fz_vw(12);
  text-align: center;
  margin: get_vw(3) auto;
  z-index: 3;
  color: #112b3a;
}
.menu_item_img_01 {
  width: get_vw(42);
  margin: auto;
}
.menu_item_img_02 {
  width: get_vw(48);
  margin: auto;
}
.menu_item_img_03 {
  width: get_vw(129);
  margin: auto;
}
.menu_item_img_04 {
  width: get_vw(86);
  margin: auto;
}
.menu_item_img_05 {
  width: get_vw(39);
  margin: auto;
}
.menu_item_img_06 {
  width: get_vw(59);
  margin: auto;
}
.lang_area {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 2;
}
.lang_item {
  position: relative;
  width: get_vw(88);
  background-image: url("/common/bg_language_hover.png");
  background-repeat: no-repeat;
  background-position: get_vw(4.5) get_vw(7.2);
  background-size: get_vw(78);
}
.lang_item_link {
  width: 100%;
  cursor: pointer;
  display: inline-block;
}
.lang_item_link:hover img {
  visibility: hidden;
}

.lang_text {
  position: absolute;
  color: rgba(17, 43, 58, 0.5);
  @include fz_vw(12);
  font-weight: bold;
}
.lang_item:nth-child(1) .lang_text {
  top: get_vw(8);
  left: get_vw(22);

  @include mq(lg) {
    top: get_vw(10);
    left: get_vw(26);
  }
}
.lang_item:nth-child(2) .lang_text {
  top: get_vw(8);
  left: get_vw(19);

  @include mq(lg) {
    top: get_vw(10);
    left: get_vw(23);
  }
}
.lang_item_link:hover .lang_text {
  color: #fff;
}
