@import "../../assets/scss/mixin";

.slider_sp {
  @include mq(md) {
    display: none;
  }
}
.slider_pc {
  display: none;

  @include mq(md) {
    display: flex;
    width: get_vw(720);
    margin: get_vw(20) auto 0;
  }
}
.slick_arrow {
  position: absolute;
  height: get_vw_sp(64);
  width: get_vw_sp(35);
  background-color: rgba(17, 43, 58, 0.5);
  z-index: 3;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  @include fz_vw_sp(15);
}
.slick_prev {
  top: get_vw_sp(11);
  left: 0;
  border-radius: 0 get_vw_sp(10) get_vw_sp(10) 0;
}
.slick_next {
  top: get_vw_sp(11);
  right: 0;
  border-radius: get_vw_sp(10) 0 0 get_vw_sp(10);
}
.slick_prev::before,
.slick_next::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin: auto;
  width: get_vw_sp(10);
  height: get_vw_sp(10);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slick_prev::before {
  border-bottom: get_vw_sp(3) solid #fff;
  border-left: get_vw_sp(3) solid #fff;
}
.slick_next::before {
  border-top: get_vw_sp(3) solid #fff;
  border-right: get_vw_sp(3) solid #fff;
}
.slider {
  margin: get_vw_sp(10) calc(50% - 50vw);

  @include mq(md) {
    margin: get_vw(80) 0 0;
  }
}
.current_wrapper {
  margin: 9% 8% 0;

  @include mq(md) {
    margin: 0.9% 1% 0;
  }
}
.current_img {
  width: 82%;

  @include mq(md) {
    width: 100%;
  }
}
