@import "../../assets/scss/mixin";

.text {
  @include fz_vw_sp(15);
  font-weight: bold;

  @include mq(md) {
    @include fz_vw(14);
  }
}
.category_list {
  position: relative;
  width: get_vw_sp(325);
  margin-top: get_vw_sp(20);

  @include mq(md) {
    width: get_vw(320);
    margin-right: get_vw(30);
    margin-top: 0;
  }
}
.category_list:nth-child(3) {
  @include mq(md) {
    margin-right: 0;
  }
}
.category_list:last-child {
  @include mq(md) {
    margin-right: 0;
  }
}
.category_list:nth-child(n + 4) {
  margin-top: get_vw(36);
}
.category_list_inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: get_vw_sp(45);
  left: get_vw_sp(43);
  width: get_vw_sp(245);
  height: get_vw_sp(127);

  @include mq(md) {
    width: get_vw(240);
    height: get_vw(122);
    bottom: get_vw(48);
    left: get_vw(40);
  }
}
.category_wrapper {
  @include mq(md) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.btn_link:hover {
  opacity: 0.6;
}