@import "../../../assets/scss/mixin";

.line {
  width: get_vw_sp(278);
  margin: get_vw_sp(10) auto;
  margin-left: get_vw_sp(-5);

  @include mq(md) {
    margin: get_vw(18) auto get_vw(22);
    width: get_vw(660);
    margin-left: get_vw(-10);
  }
}
.img_wrapper {
  margin-top: get_vw(25);
}
main {
  position: relative;
}
.textLeading_wrapper {
  margin-top: get_vw_sp(33);

  @include mq(md) {
    margin-top: get_vw(45);
  }
}
.textMediumSub_wrapper {
  margin-top: get_vw_sp(13);

  @include mq(md) {
    margin-top: get_vw(15);
  }
}
.textAnnotation_wrapper {
  margin-top: get_vw_sp(14);

  @include mq(md) {
    margin-top: get_vw(15);
  }
}
.pageTitle_wrapper {
  width: get_vw_sp(81);
  margin: auto;

  @include mq(md) {
    width: get_vw(111);
  }

  & img {
    image-rendering: -webkit-optimize-contrast;
  }
}
.btn_wrapper {
  width: 87%;
  margin: get_vw_sp(14) auto 0;

  @include mq(md) {
    margin-top: 25px;
  }
}
.btn_next {
  margin: auto;

  @include mq(md) {
    width: 580px;
  }
}
.btn_plan {
  margin: get_vw_sp(3) auto 0;

  @include mq(md) {
    width: 568px;
    margin: 0 auto;
  }
}
.bread_wrapper {
  width: 87%;
  margin: auto;

  @include mq(md) {
    width: auto;
    margin: 0;
  }
}
